=render partial:"blogs/layouts/header" 

=render partial:"blogs/layouts/banner" 

=render partial:"blogs/layouts/projects" 

=render partial:"blogs/layouts/about"

=render partial:"blogs/layouts/contact"

=render partial:"blogs/layouts/footer"

<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>   
        